html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
}

img {
	max-width: 100%;
	// height: auto;
}

.devider-line {
	background-image: url('../images/devider-line.png');
	background-repeat: repeat-x;
	background-position: 0 100%;
	// background-repeat: no-repeat;
	// background-size: cover;
	position: relative;
	&:last-child {
		background: none;
	}
}