.container-fluid {
	max-width: 1365px;
	@include mlg() {
	}
}
.row {
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > .column, & > [class*="col-"], & > .col {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > .column, & > [class*="col-"], & > .col {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}
.column {
	padding-left: 15px;
	padding-right: 15px;
}