@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Bold.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Semibold.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Regular.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Thin.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Light.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/subset-SFUIDisplay-Medium.woff2') format('woff2'),
	url('../fonts/subset-SFUIDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

