
.ads-bussines-card {
	
}
.ads-bussines-card-img-wrap {

}
.ads-bussines-card-img-bg {
	display: inline-block;
	width: 195px;
	height: 177px;
	background-size: contain;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	.lazy-box {
		width: 100%;
		height: 100%;
	}
	&_first {
		.lazy-box {
			position: relative;
			top: -15px;
			left: -80px;
		}
	}
	&_third {
		width: 300px;
		.lazy-box {
			position: relative;
			top: -15px;
			left: -33px;
		}
	}
}
.ads-bussines-card-img {
	width: 100%;
	height: 100%;
}

.ads-bussines-card-body {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
}