.ads-bussines {
	position: relative;
	min-height: 728px;
	padding-top: 70px;
}
.ads-bussines-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100%;
	@include mlg() {
		background-position: 50% 50%;
	}
}