.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
	text-decoration: none !important;
	&:focus {
		box-shadow: 0 3px 12px rgba(#000, .1);
	}
}



.button-yellow {
	font-size: 18px;
	line-height: 1;
	color: #000 !important;
	font-weight: 500;
	background-color: #e3000f;
	.button-in {
		display: block;
		padding: 24px 45px;
		background-color: #ffed00;
		transition: linear .15s;
	}
	&:hover {
		// box-shadow: - 0 0 0 #e3000f;
	}
}
.button-yellow-shadow {
	position: relative;
	.button-in {
		position: relative;
		top: -10px;
		left: 10px;
	}
	&:hover {
		.button-in {
			top: 0;
			left: 0;
		}
	}
}

.button-simple-yellow {
	background-color: #ffed00;
	border: 2px solid #ffed00;
	padding: 20px 41px;

	font-size: 18px;
	line-height: 1;
	color: #000 !important;
	font-weight: 500;
	&:hover {
		background-color: transparent;
	}
	&.on-dark {
		&:hover {
			color: #fff !important;
		}
	}
}


.button-red {
	background-color: transparent;
	border: 2px solid #e4080e;
	padding: 20px 41px;

	font-size: 18px;
	line-height: 1;
	color: #e4080e !important;
	text-decoration: none !important;
	font-weight: 500;

	&:hover {
		background-color: #e4080e;
		color: #fff !important;
	}
}