h1 {
	line-height: 1;
}
h2 {
	font-size: 42px;
	font-weight: 500;
	@include msm() {
		font-size: 36px;
	}
}
h3 {
	font-size: 36px;
	font-weight: 500;
	@include msm() {
		font-size: 28px;
	}
}

.color-dark {
	color: #1E1E1E !important;
}
.color-red {
	color: #f63d4a !important;
}


.text-black {
	color: #000 !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}
.font-weight-semi {
	font-weight: 600 !important;
}


.font-size-0 {
	font-size: 0 !important;
}
.font-size-10 {
	font-size: 10px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-20 {
	font-size: 20px !important;
}
.font-size-22 {
	font-size: 22px !important;
}
.font-size-24 {
	font-size: 24px !important;
}


.line-height-22 {
	line-height: 22px !important;
}
.line-height-30 {
	line-height: 30px !important;
}
.line-height-34 {
	line-height: 34px !important;
}