.contact {
	position: relative;
	padding: 60px 0;
	background-color: #eefaff;
}
.contact-bg {
	position: absolute;
	top: -50px;
	right: 100%;
	margin-right: -70px;

	width: 1071px;
	height: 654px;

	transform: rotate(20deg);
	

	background-repeat: no-repeat;
	background-position: 0 0;
}

.contact-link {
	position: relative;
	font-size: 24px;
	line-height: 30px;
	color: #000 !important;
	text-decoration: none !important;
	&:before {
		content: '';

		position: absolute;
		bottom: 3px;
		left: 0;
		width: 100%;
		border-bottom: 8px solid rgba(#ff929a, 1);
	}
	&:hover {
		&:before {
			display: none;
		}
	}
}


.contact-column-index {
	z-index: 2;
}