.dotted-txt {

}

.dotted-txt-line {
	border-bottom: 1px solid #d2d2d2;
	position: relative;
	top: -4px;
	min-width: 100px;
	@include mmd() {
		min-width: 50px;
	}
	@include msm() {
		display: none;
	}
}

.dotted-txt-price {
	width: 160px;
	@include mmd() {
		width: 100px;
		text-align: right;
	}
	@include msm() {
		width: 100%;
		text-align: left;
	}
}