.experience {
	position: relative;
	min-height: 800px;
	padding: 40px 0;
	@include xl() {
		padding: 70px 0;
	}
	@include mlg() {
		background-color: #009ee3;
	}
}
.experience-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 65% 50%;
	@include mlg() {
		display: none;
	}
}


.experience-wrap-content {
	background-color: #ffed00;
	position: relative;
	padding: 30px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		
		width: 140px;
		height: 25px;

		background-image: url('../images/experience-content-bg.svg');
		background-repeat: no-repeat;
		background-position: 0 0;

		transform: rotate(90deg);
		transform-origin: 0 0;
		margin-top: 10px;
		margin-left: 15px;
		@include md() {
			width: 160px;
			height: 30px;
			margin-left: 10px;
		}
	}
	@include md() {
		padding: 40px 75px;
	}
}

.experience-ban {
	min-height: 143px;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: cover;
	@media only screen and (max-width: 420px) {
		min-height: 90px;
	}
}