.form-control {
	height: auto;
	min-height: auto;
	padding: 16px 20px;
	border: 1px solid #c6d2df;

	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	color: #605f5f;

	resize: none;
	border-radius: 0;

	@include iph() {
		font-size: 16px;
		font-weight: 300;
		color: #605f5f;
	}
	&:focus {
		outline: none !important;
		box-shadow: 0 3px 12px rgba(#000, .1);
		border-color: #c6d2df;
	}
}
.was-validated {
	.form-control:invalid {
		&:focus {
			box-shadow: 0 3px 12px rgba(#dc3545, .1);
		}
	}
	.subscribe-btn {
		position: relative;
		top: -15px;
	}
}
.valid-feedback, .invalid-feedback {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}