.franchise {
	position: relative;
	padding: 80px 0 0;
	overflow: hidden;
	min-height: 697px;
	background-color: #eefaff;
	@include mxl() {
		padding-top: 697px;
	}
	@include mmd() {
		padding-top: 450px;
	}
}
.franchise-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 45%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	@include mxl() {
		width: 100%;
		height: 697px;
	}
	@include mmd() {
		height: 450px;
	}
	@include msm() {
		height: 360px;
		top: 90px;
	}
}
.franchise-wrap-content {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: -9999px;
		height: 100%;
		background-color: #fff;
	}
}

.franchise-wrap-content-in {
	padding: 30px;
	@include msm() {
		padding: 30px 15px;
		.row {
			margin-left: -5px;
			margin-right: -5px;
			& > [class*="col-"] {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}

.franchise-img-bg {
	position: absolute;
	top: 0;
	left: 0;

	width: 105px;
	height: 115px;

	background-repeat: no-repeat;
	background-position: 0 0;
	// background-size: cover;
}

.franchise-title {
	position: absolute;
	left: 0;
	width: 100%;
	top: -670px;
	@include mmd() {
		top: -440px;
	}
}