.front-wrap {
	padding-top: 57px;
	@include mlg() {
		padding-top: 0;

	}
}
.front {
	position: relative;
	padding-bottom: 120px;
	@include xl() {
		padding-bottom: 170px;
	}
	// min-height: 1029px;
}
.front-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	@include xl() {
		// min-height: 1005px;
	}
}


.front-img-wrap {
	// min-height: 570px;
	@include lg() {
		min-height: 720px;
	}
}
.front-img {
	width: 130.5%;
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-left: -38px;
	// max-width: 890px;
	max-width: none;
}

.front-btn-descr {
	font-size: 20px;
	font-weight: 300;
}

.front-subscribe-box {
	position: relative;
	@include mlg() {
		margin-top: 20px;
	}
	@include lg() {
		top: 100px;
		left: -25px;
	}
}

.front-origami1 {
	max-width: 232px;
	position: absolute;
	right: 100%;
	margin-right: 100px;
	// left: 50%;
	// transform: translate(-50%, 0);
	top: -20px;
}
.front-origami2 {
	max-width: 195px;
	position: absolute;
	left: 100%;
	margin-left: 180px;
	transform: translate(-50%, 0);
	top: -110px;

}