.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-top: 1px solid #009ee3;
	border-bottom: 1px solid #009ee3;
	height: 57px;
	padding: 17px 0 15px;
	background-color: #fff;
	@include mlg() {
		height: auto;
		padding: 0;
		background-color: transparent;
		border: none;
	}
}