.logo {
	font-weight: 400;
	line-height: 1;
	padding: 20px 0 10px;
	@include mlg() {
		padding: 50px 0 20px;
	}
	@include msm() {
		padding: 80px 0 20px;
	}
}
.logo-franchise {
	font-size: 42px;
	font-weight: 100;
}
.logo-img {
	width: 300px;
}
.logo-text {
	font-size: 22px;
	font-weight: 300;
}