.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#fff, .8);
		z-index: 999;

		opacity: 0;
		visibility: hidden;

		transition: linear .2s;

		.menu-nav {
			li {
				margin-bottom: 20px;
				a {
					font-size: 24px;
					color: #fff !important;
				}
			}
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
}
.menu-in {
	@include mlg() {
		position: relative;
		width: 280px;
		height: 100%;
		padding: 100px 0;
		background-color: #009ee3;
	}
	@include msm() {
		padding: 80px 0;
	}
}
.menu-close {
	position: absolute;
	top: 15px;
	right: 15px;

	color: #fff;
	font-size: 16px;

	background-color: #e3000f;
	border-radius: 50%;

	width: 40px;
	height: 40px;
	&:hover {
		.menu-close-in {
			top: 0;
			left: 0;
			transform: rotate(90deg);
		}
	}
}
.menu-close-in {
	position: relative;
	top: -5px;
	left: 5px;

	width: 40px;
	height: 40px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: #000;

	background-color: #ffed00;
	border-radius: 50%;

	transition: linear .1s;
}

.menu-open {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #e3000f;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	font-size: 20px;

	color: #fff;
	&:hover {
		.menu-open-in {
			left: 0;
			top: 0;
			// transform: rotate(180deg);
		}
	}
}

.menu-open-in {
	position: relative;
	top: -5px;
	left: 5px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 41px;
	height: 41px;
	color: #000;
	background-color: #ffed00;
	border-radius: 50%;
	transition: linear .1s;
}