.menu-nav {
	li {
		padding-left: 20px;
		padding-right: 20px;
		a {
			display: block;
			font-weight: 300;
			font-size: 18px;
			color: #000;
			transition: linear .1s;
			&:hover {
				text-decoration: none;
				font-weight: 500;
			}
		}
	}
}