.modal {

}
.modal-close {
	position: absolute;
	top: 25px;
	right: 40px;

	font-size: 20px;
	color: #a4b1b7;
	z-index: 3;
	&:hover {
		color: #000;
	}
	@include mmd() {
		top: 20px;
		right: 20px;
	}
}
.modal-dialog {
	@include sm() {
		max-width: 795px;
	}
	&_thanks {
		@include sm() {
			max-width: 555px;
		}
	}
}
.modal-content {
	border: none;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 70px 0px rgba(119, 123, 167, 0.35);
	border-radius: 0;
	margin-left: 15px;
	margin-right: 15px;
	@include mmd() {
		
	}
}
.modal-body {
	padding: 50px 45px 10px;
	@include mmd() {
		padding: 50px 20px 10px;
	}
}
.modal-close {

}