.owner {
	padding: 70px 0 0;
}
.owner-img {
	.lazy-img {
		position: static;
	}
	@include xl() {
		width: 750px;
		height: 610px;
		left: -105px;
		max-width: none;
	}
}

.owner-btn-communication {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 30px;
	@include sm() {
		position: relative;
		top: -50px;
		left: -140px;
		padding-left: 45px;
		padding-right: 45px;
		margin: 0;
	}
	@include xl() {
		left: 0;
	}
}


.owner-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 80px;
	height: 80px;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background-color: rgba(#000, .3);
	@include sm() {
		width: 114px;
		height: 114px;
	}
	&:hover {
		.owner-play-button-in {
			transform: scale(1.1, 1.1);
		}
	}
}
.owner-play-button-in {
	background-color: #e4080e;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 45px;
	height: 45px;

	border-radius: 50%;
	transition: linear .2s;
	@include sm() {
		width: 66px;
		height: 66px;
	}
	&:before {
		content: '';
		display: block;
		position: relative;
		left: 3px;

		border-left: 16px solid #fff;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
	}
}


.owner-video {
	iframe {
		width: 100%;
		height: 400px;
		@include mmd() {
			height: 300px;
		}
		@include msm() {
			height: 250px;
		}
	}
}