.price {
	position: relative;
	padding: 50px 0;
}
.price-bg {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	width: 100%;

	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.price-wrap-green {
	background-color: #19973f;
	padding: 15px;
}

.price-content-bg {
	padding-left: 80px;
	min-height: 100px;

	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100px 100px;
	position: relative;
	&:before {
		content: '+';

		position: absolute;
		top: 7px;
		left: 23px;

		font-size: 42px;
		color: #fff;
		font-weight: 500;
	}
}