.start-business {
	position: relative;
	min-height: 801px;
	// margin-top: -90px;
	padding: 100px 0 0;
}
.start-business-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}
.start-business-diamond {
	width: 100%;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	@include xl() {
		max-width: 570px;
	}
}

.start-business-first {
	@include mxl() {
		&:before {
			transform: rotate(-35deg);
		}
	}
	@include xl() {
		top: 83px;
		left: -306px;
		&:before {
			left: 100%;
			margin-left: -50px;
			// right: -72px;
		}
		@media only screen and (max-width: 1210px) {
			left: -290px;
		}
	}
}
.start-business-second {
	@include mxl() {
		&:before {
			top: 50%;
			transform: rotate(35deg) translate(0, -50%);
		}
	}
	@include xl() {
		top: 81px;
		right: -306px;
		&:before {
			right: 100%;
			margin-right: 25px;
			// left: -150px;
		}
		@media only screen and (max-width: 1210px) {
			right: -290px;
		}
	}
}
.start-business-third {
	@include mxl() {
		&:before {
			transform: rotate(-10deg);
			width: 200px !important;
		}
	}
	@include xl() {
		bottom: 32px;
		left: -169px;
		&:before {
			left: 100%;
			margin-left: 50px;
		}
	}
}
.start-business-fourth {
	@include mxl() {
		&:before {
			top: 50%;
			transform: rotate(10deg) translate(0, -50%);
			width: 200px !important;
		}
	}
	@include xl() {
		bottom: 32px;
		right: -266px;
		&:before {
			right: 100%;
			margin-right: 60px;
		}
	}
}

.start-business-all {
	position: relative;
	@include xl() {
		position: absolute;
	}
	&:before {
		content: '';

		width: 117px;
		top: 13px;
		border: 1px solid #fff;
		position: absolute;
		display: none;
		@include lg() {
			display: block;
		}
		@include mxl() {
			width: 70px;
			right: 100%;
			margin-right: 20px;
			transform-origin: 100% 0;
		}
	}
}