.style-list {
	counter-reset: section;
	@include xl() {
		@media only screen and (max-width: 1400px) {
			padding-left: 130px;
		}
	}
	li {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		flex: 0 1 auto;
		margin-bottom: 30px;
		@include md() {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include xl() {
			// margin-left: 150px;
		}
		&:nth-child(odd) {
			@media only screen and (min-width: 1380px) {
				padding-left: 30px;
				&:after {
					left: 10px;
				}
			}
		}
		&:before {
			counter-increment: section;
			content: counter(section);

			border-radius: 50%;
			border: 1px solid #e40b11;

			width: 50px;
			height: 50px;
			margin-bottom: 15px;

			display: inline-flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;

			font-size: 20px;
			line-height: 1;
			color: #f00d00;
			font-weight: 500;
			@include sm() {
				margin-bottom: 0;
			}
			
		}
		&:after {
			content: '';

			position: absolute;
			top: 24px;
			left: -5px;

			width: 34px;
			height: 6px;

			background-image: url('../images/dia-line.svg');
			background-position: 0 0;
			background-repeat: no-repeat;
		}
		@media only screen and (min-width: 1380px) {
			max-width: 50%;
			flex: 0 0 50%;
			margin-left: 0;
		}
	}
}

.style-list-content {
	font-size: 20px;
	line-height: 30px;
	@include sm() {
		padding-left: 30px;
	}
	strong {
		font-weight: 500;
	}
}