.subscribe {
	position: relative;
	.form-control {
		border-color: transparent;
	}
}
.subscribe-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}


.subscribe-in {
	min-height: 264px;
	padding: 50px 0;
}



.subscribe-wrap {
	position: relative;
	width: 100%;
	max-width: 960px;
	padding-left: 15px;
	padding-right: 15px;
}