<footer class="footer mt-auto text-white position-relative">
	<div class="container-fluid">
		<div class="row flex-xl-nowrap justify-content-center text-center align-items-center">
			<div class="column mb-3 flex-shrink-0 mb-xl-auto">© 2015-2020 г.  фрешпринт.рф <!-- <br class="d-none d-xl-block"> --> <br> <a class="text-white text-underline" href="#">Политика конфиденциальности</a></div>
			<div class="column mb-3"><div class="text-center line-height-22 font-weight-light">Информация на сайте носит ознакомичельный характер и не является публичной офертой. Размещенные на сайте примеры работ, являются интеллектуальной собственностью и охраняются законодательсттвом РФ. Копирование, использование и распространение материалов сайта без письменного разрешения ЗАПРЕЩЕНО!</div></div>
			<div class="column mb-3 flex-shrink-0"><div class="font-size-18 line-height-34">Специалисты по упаковке франшиз </div></div>
			<div class="column mb-3 flex-shrink-0">
				<a class="d-block" href="http://promarket.one" target="_blank">
					<div class="lazy-box lazy-loading" >
						<img
							class="lazy-img lazy-box-img lazyload"
							data-sizes="auto"
							data-src="images/pro-logo.png"
							src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							alt="">
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>



<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="callModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="modal-close button-clr" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="modal-body">
				<div class="font-size-24 line-height-34 font-weight-medium mb-2">Хотите получить предложение прямо сейчас?</div>
				<div class="font-size-20 line-height-30 font-weight-light mb-4 pb-1">Заполните форму и получите руководства</div>
				<form method="POST" class="needs-validation" action="" novalidate>
					<div class="row justify-content-center">
						<div class="col-md-6 form-group mb-4 pb-3">
							<input class="form-control" type="text" name="name" placeholder="Введите Ваше имя" required autocomplete="off">
							<div class="valid-feedback">Верно!</div>
							<div class="invalid-feedback">Не верно!</div>
						</div>
						<div class="col-md-6 form-group mb-4 pb-3">
							<input class="form-control phone" type="text" name="tel" placeholder="Введите контактный телефон" required autocomplete="off">
							<div class="valid-feedback">Верно!</div>
							<div class="invalid-feedback">Не верно!</div>
						</div>
						<div class="col-md-6 form-group mb-4 pb-3">
							<div class="text-center">
								<button class="button button-simple-yellow button-clr" type="submit">Оставьте заявку</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="thanksModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog_thanks modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="modal-close button-clr" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="modal-body">
				<div class="text-center">
					<div class="font-size-24 line-height-34 font-weight-medium mb-4 pb-1">Спасибо за заказ, наши менеджеры <br> вскоре вам ответят</div>
					<button class="button button-simple-yellow button-clr mb-4" type="submit" data-dismiss="modal">Вернуться на сайт</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="owner-modal" tabindex="-1" role="dialog" aria-labelledby="thanksModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<button type="button" class="modal-close button-clr" data-dismiss="modal" aria-label="Close">
				<svg class="svg-icon">
					<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
				</svg>
			</button>
			<div class="modal-body">
				<div class="text-center pt-4">
					<div class="owner-video mb-4"></div>
					<button class="button button-simple-yellow button-clr mb-4" type="submit" data-dismiss="modal">Вернуться на сайт</button>
				</div>
			</div>
		</div>
	</div>
</div>