<header class="header">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="menu flex-grow-1" data-id="menu">
				<div class="menu-in d-flex flex-column">
					<button class="menu-close button-clr d-lg-none" type="button" data-toggle="toggleVisible" data-target="menu">
						<span class="menu-close-in">
							<svg class="svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
							</svg>
						</span>
					</button>
					<ul class="menu-nav list-unstyled d-flex flex-column flex-lg-row flex-lg-wrap justify-content-lg-center flex-grow-1 mb-0">
						<li><a href="#composition" data-toggle="anchor">Состав франшизы</a></li>
						<li><a href="#conditions" data-toggle="anchor">Условия</a></li>
						<li><a href="#about" data-toggle="anchor">О владельце</a></li>
						<li><a href="#contacts" data-toggle="anchor">Контакты</a></li>
					</ul>
				</div>
			</div>
			<div class="column d-lg-none ml-auto font-size-0">
				<button class="menu-open button-clr" type="button" data-toggle="toggleVisible" data-target="menu">
					<span class="menu-open-in">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
</header>